@mixin centering-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  @mixin centering-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  
  @mixin tablet {
    @media screen and (min-width: v.$tablet) {
      @content;
    }
  }
  
  @mixin laptop {
    @media screen and (min-width: v.$laptop) {
      @content;
    }
  }
  
  @mixin desktop {
    @media screen and (min-width: v.$desktop) {
      @content;
    }
  }