@use "mixins" as m;

.info-text,
.name-text {
    color: white;
    width: 100%;
    font-weight: normal;
    font-family: Georgia, serif;
}

form.name-form {
    width: 100%;
    @include m.centering-col;
    gap: 20px
}