html,
body {
    background: linear-gradient(45deg, #da6440, #c25797, #9f43a7,  #a74276, #BE7241);
    background-repeat: no-repeat;
    background-size: 300% 300%;
    animation: gradient 13s ease infinite;
    font-family: Georgia, serif;
    min-height: 100dvh;
    margin: 0;
    padding: 0; 
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

* {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Georgia, serif
}