html,
body {
    min-height: 100vh;
    background: linear-gradient(45deg, #BE7241, #BE418D);
    font-family: Georgia, serif
}

* {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Georgia, serif
}